.contenedor{
    background-color: red;
    display: flex;
    justify-content: center;
    height: 0px;
    margin: 250px;
    
    

    
    
    

    

}
.item {
    background-color: blue;
    width: 200px;
    height: 200px;
    font-size: 15px;
    margin: 05px;
}

